/* all style */
body, td				{margin:0px;font-family:dotum,verdana;line-height:17px;font-size:14px;color:#4a4a4a;}
img						{border:none;margin:0px;padding:0px;}
input, select, textarea {font-family:dotum,verdana;color:#4a4a4a;border:1px solid #cccccc;background:#ffffff;vertical-align:middle;font-size:12px;}
p						{margin:0px 0px 14px 0px;padding:0px;}
ul						{margin:0;padding:0;list-style:none;line-height:20px;}
h1, h2, h3, h4, h5, h6	{margin:0px;padding:0px;}
hr						{display:none;}
fieldset 				{margin:0px;padding:0px;border:none;}
legend 					{margin:0px;padding:0px;position:absolute;left:-1000%;top:0px;width:1px;height:1px;font-size:0px;line-height:0px;overflow:hidden;}

/* link style */
a:link    {color:#4a4a4a;text-decoration:none;}
a:visited {color:#4a4a4a;text-decoration:none;}
a:active  {color:#4a4a4a;text-decoration:none;}
a:hover   {color:#4a4a4a;text-decoration:none;}

/* align style */
.clear		{clear:both;}
.ft_left	{float:left;}
.ft_left2	{margin:0px; 0px; 0px; 10px;}
.ft_right	{float:right;}
.left		{text-align:left;}
.right		{text-align:right;}
.center		{text-align:center;}

/* no style */
.no_mar		{margin:0px;}
.no_pad		{padding:0px;}
.no_back	{background:none;}
.no_bold	{font-weight:normal;}
.no_size	{font-size:12px;}
.no_color	{color:#4a4a4a;}
.no_dis		{display:none;}
.hidden		{margin:0px;padding:0px;position:absolute;left:-1000%;top:0px;width:1px;height:1px;font-size:0px;line-height:0px;overflow:hidden;}

/* margin */
.tmar_0  {margin-top:0px !important;}
.tmar_5  {margin-top:5px !important;}
.tmar_10 {margin-top:10px !important;}
.tmar_15 {margin-top:15px !important;}
.tmar_20 {margin-top:20px !important;}
.tmar_25 {margin-top:25px !important;}
.tmar_30 {margin-top:30px !important;}
.tmar_35 {margin-top:35px !important;}
.tmar_40 {margin-top:40px !important;}
.tmar_45 {margin-top:45px !important;}
.tmar_50 {margin-top:50px !important;}
.tmar_60 {margin-top:60px !important;}
.tmar_70 {margin-top:70px !important;}
.tmar_80 {margin-top:80px !important;}
.tmar_100 {margin-top:100px !important;}
.tmar_200 {margin-top:200px !important;}
.tmar_250 {margin-top:250px !important;}
.tmar_300 {margin-top:300px !important;}

.lmar_0  {margin-left:0px !important;}
.lmar_5  {margin-left:5px !important;}
.lmar_10 {margin-left:10px !important;}
.lmar_15 {margin-left:15px !important;}
.lmar_20 {margin-left:20px !important;}
.lmar_25 {margin-left:25px !important;}
.lmar_30 {margin-left:30px !important;}
.lmar_35 {margin-left:35px !important;}
.lmar_40 {margin-left:40px !important;}
.lmar_45 {margin-left:45px !important;}
.lmar_50 {margin-left:50px !important;}
.lmar_90 {margin-left:90px;}

.lmar_m5  {margin-left:-5px !important;}
.lmar_m10 {margin-left:-10px !important;}
.lmar_m15 {margin-left:-15px !important;}
.lmar_m20 {margin-left:-20px !important;}
.lmar_m25 {margin-left:-25px !important;}
.lmar_m30 {margin-left:-30px !important;}
.lmar_m35 {margin-left:-35px !important;}
.lmar_m40 {margin-left:-40px !important;}
.lmar_m45 {margin-left:-45px !important;}
.lmar_m50 {margin-left:-50px !important;}

.rmar_0  {margin-right:0px !important;}
.rmar_5  {margin-right:5px !important;}
.rmar_10 {margin-right:10px !important;}
.rmar_15 {margin-right:15px !important;}
.rmar_20 {margin-right:20px !important;}
.rmar_25 {margin-right:25px !important;}
.rmar_30 {margin-right:30px !important;}
.rmar_35 {margin-right:35px !important;}
.rmar_40 {margin-right:40px !important;}
.rmar_45 {margin-right:45px !important;}
.rmar_50 {margin-right:50px !important;}

.bmar_0  {margin-bottom:0px !important;}
.bmar_5  {margin-bottom:5px !important;}
.bmar_10 {margin-bottom:10px !important;}
.bmar_15 {margin-bottom:15px !important;}
.bmar_20 {margin-bottom:20px !important;}
.bmar_25 {margin-bottom:25px !important;}
.bmar_30 {margin-bottom:30px !important;}
.bmar_35 {margin-bottom:35px !important;}
.bmar_40 {margin-bottom:40px !important;}
.bmar_45 {margin-bottom:45px !important;}
.bmar_50 {margin-bottom:50px !important;}
.bmar_80 {margin-bottom:80px !important;}

.tpadd_5  {padding-top:5px !important;}
.tpadd_10  {padding-top:10px !important;}
.tpadd_20  {padding-top:20px !important;}