.btn {display: inline-block; font-weight: 400;  padding: .5em .75rem; font-size: 1em; line-height: 20px;  text-align: center; white-space: nowrap; vertical-align: top; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 1px solid transparent; font-size:  0.9em; border-radius: .15rem}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px}
.btn:focus, .btn:hover {text-decoration: none}
.btn.focus {text-decoration: none}
.btn.active, .btn:active {background-image: none; outline: 0}
.btn.disabled, .btn:disabled {cursor: not-allowed; opacity: .65}
a.btn.disabled, fieldset[disabled] a.btn {pointer-events: none}
		

.btn-primary {color: #fff; background-color: #0275d8; border-color: #0275d8}
.btn-primary:hover {color: #fff; background-color: #025aa5; border-color: #01549b}
.btn-primary.focus, .btn-primary:focus {color: #fff; background-color: #025aa5; border-color: #01549b}
.btn-primary.active, .btn-primary:active, .open>.btn-primary.dropdown-toggle {color: #fff; background-color: #025aa5; border-color: #01549b; background-image: none}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.btn-primary.dropdown-toggle.focus, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover {color: #fff; background-color: #014682; border-color: #01315a}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary:disabled.focus, .btn-primary:disabled:focus {background-color: #0275d8; border-color: #0275d8}
.btn-primary.disabled:hover, .btn-primary:disabled:hover {background-color: #0275d8; border-color: #0275d8}

.btn-warning {color: #fff; background-color: #f57c00; border-color: #f57c00}
.btn-warning:hover {color: #fff; background-color: #e07302; border-color: #e07302}
.btn-warning.focus, .btn-warning:focus {color: #fff; background-color: #f57c00; border-color: #eb9316}
.btn-warning.active, .btn-warning:active, .open>.btn-warning.dropdown-toggle {color: #fff; background-color: #f57c00; border-color: #eb9316; background-image: none}
.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.btn-warning.dropdown-toggle.focus, .open>.btn-warning.dropdown-toggle:focus, .open>.btn-warning.dropdown-toggle:hover {color: #fff; background-color: #d58512; border-color: #b06d0f}
.btn-warning.disabled.focus, .btn-warning.disabled:focus, .btn-warning:disabled.focus, .btn-warning:disabled:focus {background-color: #f57c00; border-color: #f57c00}
.btn-warning.disabled:hover, .btn-warning:disabled:hover {background-color: #f57c00; border-color: #f57c00}

.table-bordered {/* border: 1px solid #eceeef; */ width: 100%; border-collapse: collapse; }
.table-bordered td {/* border: 1px solid #eceeef; */ 	font-weight:400; }
.table-bordered th {/* border: 1px solid #eceeef; */ vertical-align: middle; font-weight: 500; /* background-color: rgba(0,0,0,0.02); */ font-weight: bold;}
.table-bordered thead td, .table-bordered thead th {border-bottom-width: 2px; height: 40px;}
.table-bordered thead td.left {text-align: left}
.table-bordered thead td.right {text-align: right}

.text-center { text-align: center; }
.m-t-10 { margin-top: 10px; }
.m-t-20 { margin-top: 20px; }
.m-t-30 { margin-top: 30px; }
.m-b-10 { margin-bottom: 10px !important; }
.border0 {border: 2px solid red;}
.b-c-r {font-weight: bold; color: red;}

.form-control {display: block; width: 100%; padding: .5em .75rem; font-size: 1em; line-height: 20px; color: #000000; background-color: #fff; background-image: none; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid rgba(0, 0, 0, .15); border-radius: .05rem}
.form-control-inline {display: inline-block; width: auto; padding: .5em .75rem; font-size: 1em; line-height: 20px; color: #000000; background-color: #fff; background-image: none; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid rgba(0, 0, 0, .15); border-radius: .25rem}
input.form-control {padding:0.5em; line-height: 20px; }
select.form-control {padding:0.5em; line-height: 20px; } 
.form-control:disabled {  cursor: not-allowed;}
.form-control:disabled, .form-control[readonly] {  background-color: #eceeef;  opacity: 1;}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 41.5%;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#mainTop09 {width:100%; height:15px; border-top :solid 2px #52a203;}

.loader {display: none;	border: 16px solid #555;border-top: 16px solid #fff;border-radius: 50%;width: 60px;height: 60px;animation: spin 0.5s linear infinite;position:absolute;	top:30%;	margin-top:-60px;left:55%;	margin-left:-60px;	z-index:9999;}
.loader { -webkit-animation:spin 500ms infinite linear; -moz-animation:spin 500ms infinite linear; -ms-animation:spin 500ms infinite linear; animation:spin 500ms infinite linear; } 